/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;0,500;0,600"); */
/* @import url("https://fontest.com/night-font"); */
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Jura", sans-serif;
  /* filter:invert(1) */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}
body,
html {
  padding: 0;
  margin: 0;
  color: #eee;
}
body {
  background-image: url("/images/IMG_20230615_111539_161.png");
}

#main {
  width: 100%;
  min-height: 100vh;
  /* background: #feac00; */
  /* background-image: url("/images/IMG_20230615_111539_161.png"); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  background: white;
  width: 80%;
  min-height: 90vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 50px;
  z-index: 4;
  backdrop-filter: blur(2rem);
}

.circle1,
.circle2 {
  background: white;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  z-index: 2;
}

.circle1 {
  top: 4%;
  right: 2%;
}

.circle2 {
  bottom: 4%;
  left: 2%;
}

.main-box nav {
  padding: 30px 50px;
}

.main-box nav ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #000;
  font-size: 1.6rem;
  font-weight: 800;
  width: 250px;
  height: 80px;
  /* background-color: #000; */
  background-image: url("./../images/Polluxx_Banner-trans.png");
  background-size: contain;
}

.bx {
  font-size: 1.6rem;
  color: #fff;
  padding: 6px;
  border-radius: 0.5rem;
  background: #000;
  cursor: pointer;
}

.bx:hover {
  color: #000;
  background: #fff;
  transition: 0.3s ease;
}

.main-content {
  display: flex;

  justify-content: space-between;
  padding: 0rem 3rem;
}
.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  width: 50%;
  padding: 12px;
}
.main-text .artist-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 5px solid #d41b27;
  padding: 0 1rem;
}
.main-text div.road {
  border-left: 5px solid transparent;
  padding: 0 1rem;
  /* color:#000; */
}
.buttons-container {
  margin: 2rem 0;

}
.main-text h1 {
  font-size: 5rem;
  font-family: "Caprasimo", cursive;
  width: 100%;
  text-align: left;
  letter-spacing: 28px;

}

.main-text h2 {
  font-size: 2.5rem;
  /* background-color: yellow; */
  text-align: end;
  font-weight: 200;
  margin: 1rem 0;
}
.main-text h3 {
  font-size: 1.5rem;
  /* background-color: green; */
  font-weight: 600;
}

.main-text p {
  font-size: 1rem;
  font-weight: 100;
  margin: 18px 0 40px;
}

.btn1,
.btn2 {
  padding: 10px 20px;
  background: #d41b27;
  color: #fff;
  font-weight: 300;
  border-radius: 2rem;
  cursor: pointer;
}
.btn1:hover {
  background: #fff;
  color: #000;
  transition: 0.5s ease;
}
.btn2 {
  background: #fff;
  color: #000;
  margin-left: 1rem;
}

.btn2:hover {
  background: #d41b27;
  color: #fff;
  transition: 0.5s ease;
}

/* .main-text::after {
  content: "";
  width: 5px;
  height: 25%;
  background: #d41b27;
  position: absolute;
  left: 2.4rem;
  top: 10.5rem;
} */

.main-img {
  width: 450px;
  height: 450px;
  border-radius: 60%;
  background-color: #d41b27;
  scale: 0.9;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 999;
  position: relative;
}

sup {
  display: flex;
  justify-content: flex-start;
}

#charts {
  width: 100%;
  min-height: 100%;
  padding-top: 40px;
  /* background: #feac00; */
  /* background-image: url("/images/IMG_20230615_111539_161.png"); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.charts {
  /* position: relative; */
  width: 30%;
  min-height: 80vh;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(275px);
}


.socials {
  display: flex;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.socials div {
  width: 75px;
}

section.hidden {
  display: none !important;
}
form {
  width: 40%;
  height: 80vh;
  background: #d41b27;
  overflow-y: auto;
  /* min-height: 80vh; */
  /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  ); */
  position: relative;
  color: #eee;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  padding: 2.5rem;
  margin: auto auto;
  border-radius: 32px 0 0 32px;
  z-index: 100000;
}
#contact-form {
  display: flex;
  width: 100%;

  height: 100vh;
  background: rgba(1, 1, 1, 0.7);
  /* background-color: #000; */
  position: absolute;
  top: 0;
  z-index: 9999;
}
label {
  display: block;
  padding: 1rem;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}

input[type="text"]:focused {
  border: none;
}
input[type="text"] , input[type="datetime-local"] {
  border: none;
  padding: 0.5rem;
  /* border-radius: 2.5rem; */
  border-bottom: 2px solid grey;
  background-color: transparent;
  width: 100%;
  color: #eee;
}
button {
  padding: 0.75rem 3.5em;
  margin: 0 auto;
  cursor: pointer;
}
#my-image {
  background-image: url("images/polluxx.jpg");
  background-size: contain;
  background-position: center;
  height: 80vh;
  width: 100%;
  margin: auto auto;
  border-radius: 0 32px 32px 0;
  z-index: 100000;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 0 32px 32px 0;
}
#close {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

@media only screen and (max-width: 900px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .main-text {
    width: 100%;
  }
  .main-text h1 {
    font-size: 4rem;
    letter-spacing: 28px;
  }
  .img-container {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .main-text h1 {
    font-size: 3rem;
    letter-spacing: 8px;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 6s ease-in-out infinite both;
  animation: heartbeat 6s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-6-28 13:17:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
=======
.charts h3 {
  color: #fff;
  margin-bottom: 20px;
}

.charts .list {
  position: relative;
  display: flex;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  scale: 0.9;
}

.charts .list:hover {
  background: #696868;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  scale: 1;
}

.charts .icons {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.charts .icons i {
  position: absolute;
  top: 10px;
  left: 20px;
}

.chart .list .content .rank {
  position: absolute;
  right: 20px;
}