/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;0,500;0,600");
@import url("https://fontest.com/night-font");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body , html {
  padding: 0;
  margin: 0;
  color:#eee;
}

#main {
  width: 100%;
  min-height: 100vh;
  /* background: #feac00; */
  background-image: url("/images/IMG_20230615_111539_161.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  background: white;
  width: 80%;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 50px;
  z-index: 4;
  backdrop-filter: blur(2rem);
}

.circle1,
.circle2 {
  background: white;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  z-index: 2;
}

.circle1 {
  top: 4%;
  right: 2%;
}

.circle2 {
  bottom: 4%;
  left: 2%;
}

.main-box nav {
  padding: 50px;
}

.main-box nav ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #000;
  font-size: 1.6rem;
  font-weight: 800;
}

.bx {
  font-size: 1.6rem;
  color: #fff;
  padding: 6px;
  border-radius: 0.5rem;
  background: #000;
  cursor: pointer;
}

.bx:hover {
  color: #000;
  background: #fff;
  transition: 0.3s ease;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
}
.img-container{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  width:50%;
  padding: 12px;
}
.main-text .artist-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 5px solid #d41b27;
  padding: 0 1rem;
  
}
.main-text div.road {
  border-left: 5px solid transparent;
  padding: 0 1rem;

}
.main-text h1 {
  font-size: 5rem;
  /* background-color: #d41b27; */
  width: 100%;
  text-align: left;
}

.main-text h2 {
  font-size: 2.5rem;
  /* background-color: yellow; */
  text-align: end;
  font-weight: 200;
  margin: 1rem 0;
}
.main-text h3 {
  font-size: 1.5rem;
  /* background-color: green; */
  font-weight: 550;
}

.main-text p {
  font-size: 1rem;
  font-weight: 100;
  margin: 18px 0 40px;
}

.btn1,
.btn2 {
  padding: 10px 20px;
  background: #d41b27;
  color: #fff;
  font-weight: 300;
  border-radius: 2rem;
  cursor: pointer;
}
.btn1:hover {
  background: #fff;
  color: #000;
  transition: 0.5s ease;
}
.btn2 {
  background: #fff;
  color: #000;
  margin-left: 1rem;
}

.btn2:hover {
  background: #d41b27;
  color: #fff;
  transition: 0.5s ease;
}

/* .main-text::after {
  content: "";
  width: 5px;
  height: 25%;
  background: #d41b27;
  position: absolute;
  left: 2.4rem;
  top: 10.5rem;
} */

.main-img {
  width: 450px;
  height: 450px;
  border-radius: 60%;
  background-color: #d41b27;
  scale:0.9;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 999;
  scale:1.2;
  transform: translate(0,-35px);
}



section.hidden{
  display:none !important;
}
form{
  width:40%;
  height: 70vh;
  /* background-color: #000; */
  background: white;
  /* width: 80%; */
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  color:#eee;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 2.5rem;
  margin: auto auto;
  border-radius: 32px 0 0 32px;
  z-index: 100000;

}
#contact-form{
  display: flex;
  padding: 0 10rem;
  height: 100vh;
  /* background-color: rgba(1,1,1,1); */
  background-color: #000;
  position: absolute;
  top: 0;
}
label{
  display: block;
  padding:1rem;
}
input[type="text"]:focused{
  border:none
}
input[type="text"]{
  border: none;
  padding:.5rem ;
  /* border-radius: 2.5rem; */
  border-bottom: 2px solid grey;
  background-color: transparent;
  width:100%;
  color:#eee;

}
button{
  padding:.75rem 3.5em;
  margin:0 auto;
  cursor:pointer
}
#my-image{
  background-image: url("images/polluxx.jpg");
  background-size: contain;
  background-position: center;
  height: 80vh;
  width:100%;
  margin: auto auto;
  border-radius: 0 32px  32px 0;
  z-index: 100000;
  
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,.7);
  border-radius: 0 32px  32px 0;

}#close{
  position: fixed;
  top:0;
  left:0;
  width: 70px ;
  height: 70px ;
  background-color: blue;
  }